.cv-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 60px;
}

.cv-block {
    margin-bottom: 60px;
}

.cv-item {
    margin-bottom: 15px;
}

.cv-item strong {
    display: block;
    font-weight: 600;
}

.cv-item span {
    font-size: 14px;
    color: $text-light;
}

/* SKILLS */
.skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}

.dots {
    display: flex;
    gap: 5px;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $primary-color;
    opacity: 0.2;
}

.dot.active {
    opacity: 1;
}


/* TAGS */
.tag {
    display: inline-block;
    border: 1px solid $border-color;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;
    margin-bottom: 8px;
}

.cv-right ul {
    padding-left: 18px;
    color: #27210A;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .cv-grid {
        grid-template-columns: 1fr;
    }
}